body{
    font-family:Arial, sans-serif;
    background-color:gray;
    text-align:center;
}

.calculator {
    width: 250px;
    margin: 100px auto;
    background: rgb(65, 20, 66);
    padding: 20px;
}

.container{
    display:flex;
    justify-content:left;
    align-items:left;
    gap: 40px;
}

.gif{
    width: 300px;
    height:auto;
}